* {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: rgb(193, 152, 125);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.main_img {
    position: absolute;
    opacity: 0.8;
    width: 100%;
    left: 0;
    top: 0;
    height: 750px;
    object-fit: cover;
}

.banner {
    display: flex;
    justify-content: space-between; 
    width: 85%;
    margin: auto;
}

nav {
    margin-top: 1.6em;
}

.banner_name {
    font-size: 24px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}

.banner_navbar_link {
    padding-bottom: 24px;
    font-size: 20px;
    margin-right: 50px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.banner_navbar_link:hover {
    border-bottom: 4px solid rgba(156, 102, 68, 1);
    color: rgba(156, 102, 68, 1);
    font-weight: 500;
}

.banner_navbar_link:last-child {
    margin-right: 0;
}

main {
    width: 85%;
    margin: auto;
    margin-top: 130px;
}

h1 {
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    margin-bottom: -10px;
    text-shadow: 2px 2px rgb(111, 62, 29);
}

h2 {
    font-size: 30px;
    font-weight: 500;
    color: rgba(170, 115, 80, 0.8);
    text-shadow: 0.4px 0.4px rgba(255, 240, 230, 0.8);
}

.homepage {
    position: relative;
    height: 580px;
}

.homepage_filter {
    z-index: -1;
    width: 850px;
    height: 140px;
    position: absolute;
    left: -15px;
    background-color: rgb(107, 77, 57);
    opacity: 0.3;
    border-radius: 8px;
}

.homepage_button {
    margin-top: 35px;
}

.homepage_button a {
    display: inline-block;
    text-align: center;
    width: 205px;
    padding: 11px 0;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.homepage_button_project {
    margin-right: 12px;
    background-color: rgba(214, 174, 147, 1);
    border: 2px solid rgba(111, 62, 29, 0.271);
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 19px;
    transition-duration: 0.2s;
}

.homepage_button_about {
    background-color: rgba(214, 174, 147, 1);
    border: 2px solid rgba(111, 62, 29, 0.271);
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 19px;
    transition-duration: 0.2s;
}

.homepage_button a:hover {
    transform: scale(1.05);
}

.homepage_link {
    margin-top: 18px;
    display: flex;
    align-items: flex-end;
    transition-duration: 0.2s;
}

.homepage_link_github:hover {
    transform: scale(1.05);
    box-shadow: -0.9px -0.9px 4px rgba(108, 64, 36, 1);
}

.homepage_link_linkedin:hover {
    transform: scale(1.05);
    box-shadow: -0.9px -0.9px 4px rgba(108, 64, 36, 1);
}

.homepage_link_github {
    box-shadow: -0.5px -0.5px 3px rgba(108, 64, 36, 1);
    border-radius: 100%;
    margin-top: 20px;
    font-size: 58px;
    color: rgba(214, 174, 147, 1);
    margin-right: 20px;
    height: 56px;
    background-color: rgba(255, 255, 255, 1);
}

.homepage_link_linkedin {
    box-shadow: -0.5px -0.5px 3px rgba(108, 64, 36, 1);
    font-size: 30px;
    border-radius: 100%;
    padding: 14px 15px 12px 15px;
    background-color: rgba(214, 174, 147, 1);
    color: rgba(255, 255, 255, 1);
}

.homepage_button_next {
    transition-duration: 0.2s;
}

.homepage_button_next img:hover {
    transform: scale(1.05);
}

.homepage_button_next img {
    position: absolute;
    bottom: 0;
    width: 55px;
}

#about_anchor {
    padding-top: 60px
}

.about h2 {
    text-align: center;
    font-weight: 500;
    color: rgba(156, 102, 68, 0.8);
    font-size: 40px;
    text-transform: uppercase;
    height: 90px;
    opacity: 80%;
}

.about_page_content img {
    width: 250px;
    height: 240px;
    border-radius: 120px;
    margin: auto;
}

.about_page_content_text p {
    max-width: 720px;
    font-size: 24px;
    text-align: justify;
    line-height: 30px;
    color: rgba(108, 64, 36, 1);
}

.about_page_content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.about_page_content_text {
    margin-right: 50px;
}

.about_page_button {
    height: 80px;
}

.about_page_button a {
    padding: 15px;
    border-radius: 5px;
    margin-right: 38px;
    width: 9em;
    text-align: center;
    display: inline-block;
    background-color: rgba(214, 174, 147, 1);
    border: 2px solid rgba(111, 62, 29, 0.271);
    font-size: 20px;
    transition-duration: 0.2s;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.about_page_button a:hover {
    transform: scale(1.05);
    color: rgba(255, 255, 255, 1);
}

#project_anchor {
    padding-top: 50px;
}

.project h2 {
    margin-bottom: 8px;
    text-align: center;
    font-weight: 500;
    color: rgba(156, 102, 68, 0.8);
    font-size: 40px;
    text-transform: uppercase;
    height: 90px;
    opacity: 80%;
}

.project_content {
    display: flex;
    width: 100%;
}

.project_content_reverse {
    display: flex;
}

.project_content_image {
    width: 650px;
    min-width: 200px;
    height: 28em;
    background-color: rgba(244, 240, 236, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_content_image img {
    width: 480px;
}

.project_content_text {
    width: 650px;
    min-width: 200px;
    height: 28em;
    background-color: rgba(214, 174, 147, 1);
    text-align: center;
}

.project_content_text h3 {
    margin-top: 2.2em;
    font-size: 35px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
}

.project_content_text p {
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
    margin: 25px;
    text-align: justify;
}

.project_animation {
    transform: translateX(-50px);
    opacity: 0;
    transition: 0.8s all ease;
}

.project_animation.active {
    transform: translateY(0);
    opacity: 1;
}

.project_content_text_animation {
    transform: translateX(100px);
    opacity: 0;
    transition: 0.7s all ease;
}

.project_content_text_animation.active {
    transform: translateY(0);
    opacity: 1;
}

#contact_anchor {
    padding-top: 60px
}

.contact {
    text-align: center;
}

.contact h2 {
    margin-top: 8px;
    font-weight: 400;
    color: rgba(156, 102, 68, 0.8);
    font-size: 42px;
    opacity: 80%;
}

.contact_title_bold {
    color: rgba(156, 102, 68, 1);
    font-weight: 500;
}

.contact_question {
    color: rgba(156, 102, 68, 1);
}

.contact_question p {
    font-size: 23px;
}

.contact_link {
    display: flex;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: rgba(214, 174, 147, 1);;
    margin-top: 70px;
}

.contact_link_block {
    width: 150px;
    margin: auto;
}

.contact_link img {
    width: 60px;
}

.contact_link a {
    text-decoration: none;
    color: rgba(156, 102, 68, 1);
    font-weight: 400;
}

.contact_link a:hover {
    font-weight: 500;
}

.contact_text {
    font-size: 21px;
    color: rgba(156, 102, 68, 1);
    text-align: center;
    margin-top: 80px;
    margin-bottom: 13%;
}

.contact_link_block_github {
    box-shadow: -0.5px -0.5px 3px rgba(108, 64, 36, 1);
    border-radius: 100%;
    height: 56px;
    width: 56px;
    font-size: 58px;
}

.contact_link_block_linkedin {
    font-size: 30px;
    border-radius: 100%;
    padding: 14px 15px 12px 15px;
    background-color: rgba(214, 174, 147, 1);
    color: rgba(255, 255, 255, 1);
    box-shadow: -0.5px -0.5px 3px rgba(108, 64, 36, 1);
}

.contact_link_block_email {
    font-size: 30px;
    border-radius: 100%;
    padding: 14px 15px 12px 15px;
    background-color: rgba(214, 174, 147, 1);
    color: rgba(255, 255, 255, 1);
    box-shadow: -0.5px -0.5px 3px rgba(108, 64, 36, 1);
}

.copyright {
    text-align: center;
    color: rgba(156, 102, 68, 1);
    opacity: 0.5;
}

@media screen and (max-width: 1000px) {
    .banner_navbar_link {
        font-size: 15px;
        margin-right: 40px;
        padding-bottom: 27px;
    }

    .main_img {
        height: 670px;
    }

    .about h2, .project h2 {
        font-size: 35px;
    }

    .about h2 {
        height: 35px;
        margin-bottom: 35px;
    }

    .about_page_button {
        text-align: center;
    }

    .about_page_button a {
        margin-right: 10px;
        margin-left: 10px;
    }

    .about_page_content_text {
        margin-right: 0;
    }

    .about_page_content_text p {
        margin: auto;
    }

    .about_page_content {
        flex-direction: column;
    }

    .about_page_content_text p {
        font-size: 20px;
        margin-bottom: 25px;
    }

    .homepage {
        height: 500px;
    }
    
    .homepage_presentation h1 {
        font-size: 38px;
    }

    .homepage_presentation h2 {
        font-size: 21px;
    }

    .homepage_filter {       
        width: 540px;
        height: 90px;
    }

    .homepage_link {
        margin-top: 4px;
        padding-left: 6px;
    }

    #project_anchor {
        padding-top: 50px;
    }

    .project_content {
        flex-direction: column;
        align-items: center;
    }

    .project_content_reverse {
        flex-direction: column-reverse;
        align-items: center;
    }

    .project_content_image {
        height: 20em;
        width: 600px;
    }

    .project_content_text {
        width: 600px;
    }

    .contact h2 {
        font-size: 35px;
    }

    .contact_question p {
        font-size: 21px;
    }
}

@media screen and (max-width: 600px) {
    .main_img {
        height: 580px;
    }

    .banner {
        justify-content: space-between;
        margin: auto;
    }

    .banner_name {
        font-size: 15px;
    }

    .banner_navbar_link {
        font-size: 11px;
        margin-right: 10px;
        padding-bottom: 13px;
    }

    .banner_navbar_link:hover {
        border-bottom: 2px solid rgba(156, 102, 68, 1);
    }

    nav {
        margin-top: 0.9em;
    }

    #about_anchor {
        padding-top: 30px;
        margin-top: 40px;
    }

    #project_anchor {
        padding-top: 20px;
    }

    .project h2 {
        height: 65px;
    }

    .about h2, .project h2 {
        font-size: 25px;
    }

    .about_page_content_text p {
        font-size: 16px;
    }

    .about_page_content img {
        width: 180px;
        height: 170px;
    }

    .about_page_button {
        height: 110px;
    }

    .about_page_button a {
        font-size: 13px;
        margin-bottom: 8px;
    }

    .homepage {
        height: 420px;
    }

    .homepage_link {
        margin-top: 11px;
    }

    .homepage_filter {
        width: 315px;
        height: 115px;
    }

    .homepage_presentation h1 {
        font-size: 30px;
        width: 280px;
    }

    .homepage_presentation h2 {
        font-size: 15px;
        width: 290px;
    }

    .homepage_button a {
        width: 130px;
        height: 10px;
        padding-bottom: 12px;
        padding-top: 10px;
        font-size: 13px;
    }

    .homepage_button {
        margin-top: 14px;
    }

    .homepage_link_github {
        font-size: 45px;
        height: 43px;
        margin-top: 2px;
    }

    .homepage_link_linkedin {
        font-size: 18px;
    }

    .homepage_button_next img {
        width: 45px;
    }

    .project_content_image, .project_content_text {
        width: 100%;
    }

    .project_content_image img {
        width: 300px;
    }

    .project_content_text {
        height: 350px;
    }

    .project_content_text_animation {
        transform: translateX(30px);
    }

    .contact h2 {
        font-size: 27px;
    }

    .project_content_text h3 {
        font-size: 30px;
    }

    .project_content_text p {
        font-size: 16px;
    }

    .contact_question p {
        font-size: 18px
    }

    .contact_link_block {
        margin-bottom: 26px;
    }

    .contact_link_block p {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .contact_link {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }

    .contact_link a {
        font-size: 16px;
    }

    .contact_text  {
        font-size: 18px;
    }

    footer {
        height: 550px;
        width: 100%;
    }
}